<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping status</title>
</head>
<body>

<h1>Status Pengiriman</h1>

<p>Name: {{order.user.name}}</p>
<p>Email: {{order.user.email}}</p>

<p>Order No: {{order.order_no}}</p>
<p>Payment Status : {{order.payment.0.payment_status}}</p>
<p>Shipping Status : {{shipping_status}}</p>
    
</body>
</html>