<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment confirmation</title>
</head>
<body>

<h1>Konfirmasi pembayaran baru</h1>

<p>Name: {{order.user.name}}</p>
<p>Email: {{order.user.email}}</p>

<p>Order No: {{order.order_no}}</p>
<p>File: <a href="{{payment_image}}">{{payment_image}}</a></p>
    
</body>
</html>